.diary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  font-family: var(--fonts-pen);
}

.diary__todos,
.diary__monthTodos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 450px;
  text-align: center;
  margin-right: 10px;
}

.diary__todoList {
  border: 5px solid var(--mint);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 20px;
  height: 400px;
  overflow-y: auto;
}

.diary__todoList-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.diary__todoList li {
  text-align: left;
  font-size: 20px;
  cursor: default;
  opacity: 0.8;
  font-family: var(--fonts-pen);
  list-style-image: url("./image/mintchoco_mini.png");
}

.diary__todoList-contentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary__todoList-contentIcon span {
  background-color: var(--grey);
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
}

.diary__todoList-contentIcon span:first-child {
  padding: 2px 5px;
}

.diary__todoList-content-check {
  color: var(--pink);
}

.diary__todoList-contentIcon svg {
  cursor: pointer;
}

.diary__todoList-contentIcon span:hover {
  color: var(--mint);
}

@media screen and (max-width: 1260px) {
  .diary__monthTodos {
    border-top: 2px solid var(--mint);
    border-left: 0px;
    padding-top: 40px;
  }

  .diary__todos {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1260px) {
  .diary__monthTodos {
    border-left: 2px solid var(--mint);
    padding-left: 30px;
  }
}

/* .diary__monthTodos {
  border-left: 2px solid var(--mint);
} */

.todoForm__main {
  width: 100%;
  margin-bottom: 20px;
}

.diary__toDo h2 {
  font-size: 25px;
  width: 100%;
  margin-bottom: 10px;
  font-family: var(--fonts-pen);
}

.diary__toDo h2:nth-child(2) {
  font-size: 28px;
  margin-bottom: 25px;
}

.diary__toDo-form {
  display: flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.diary__toDo-form input[type="text"] {
  padding: 10px 20px;
  padding-right: 45px;
  background-color: var(--mint);
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  font-family: var(--fonts-pen);
  font-size: 20px;
}

.diary__toDo-form input[type="text"]:focus {
  background-color: var(--light-mint);
}

.diary__toDo-form input[type="submit"] {
  position: absolute;
  right: 8px;
  font-size: 25px;
  background-color: rgba(245, 255, 250, 0);
}

.diary__toDo-form input[type="submit"]:hover {
  color: white;
}
