.diary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.diary__todos,
.diary__complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 450px;
  text-align: center;
  margin-right: 10px;
}

.diary__todoList {
  border: 5px solid var(--mint);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 20px;
  height: 400px;
  overflow-y: auto;
}

.diary__completes {
  height: 462px;
}

.diary__todoList-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary__todoList li {
  text-align: left;
  margin-bottom: 8px;
  cursor: default;
  list-style-image: url("./image/mintchoco_mini.png");
}

.diary__todoList-contentIcon svg {
  margin-left: 8px;
  cursor: pointer;
}

.diary__todoList-contentIcon svg:hover {
  color: var(--mint);
}

@media screen and (max-width: 1260px) {
  .diary__complete {
    border-top: 2px solid var(--mint);
    border-left: 0px;
    padding-top: 40px;
  }

  .diary__todos {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1260px) {
  .diary__complete {
    border-left: 2px solid var(--mint);
    padding-left: 30px;
  }
}

/* .diary__complete {
  border-left: 2px solid var(--mint);
} */

.todoForm__main {
  width: 100%;
  margin-bottom: 20px;
}

.diary div h2 {
  font-size: 25px;
  width: 100%;
  margin-bottom: 20px;
}

.diary__toDo-form {
  display: flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0rem 0.2rem 0.3rem 0.1rem rgb(230, 230, 230);
}

.diary__toDo-form input[type="text"] {
  padding: 10px 20px;
  padding-right: 45px;
  background-color: var(--mint);
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.diary__toDo-form input[type="text"]:focus {
  background-color: var(--light-mint);
}

.diary__toDo-form input[type="submit"] {
  position: absolute;
  right: 8px;
  font-size: 25px;
  background-color: rgba(245, 255, 250, 0);
}

.diary__toDo-form input[type="submit"]:hover {
  color: white;
}
