.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  width: 85%;
  padding: 0 10px;
}

.factoryForm__main {
  display: flex;
  width: inherit;
  justify-content: center;
}

.factoryForm {
  display: flex;
  width: inherit;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 5px;
  border-bottom: 2px solid tomato;
  padding-bottom: 15px;
}

.homeDiv {
  border: 2px solid #000;
  width: 100%;
}

.factoryInput__label > span,
.factoryForm input {
  border-radius: 5px;
}

.factoryInput__container {
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.factoryInput__input {
  display: block;
  padding: 10px 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.698);
  font-size: 15px;
  justify-content: center;
  resize: none;
  font-family: var(--font-basic);
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.factoryInput__input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.027);
}

.factoryInput__input::placeholder {
  color: rgba(0, 0, 0, 0.541);
  font-weight: 500;
}

.factoryInput__icons {
  display: flex;
  justify-content: flex-end;
}

.factoryInput__arrow {
  width: fit-content;
  padding: 10px 10px;
  background-color: var(--mint);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.factoryInput__label > span:hover,
.factoryInput__arrow:hover {
  opacity: 0.8;
}

.factoryInput__arrow > input {
  border: none;
  background-color: inherit;
}

.factoryInput__addfile {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  margin: 10px 0;
  width: 100%;
}

.factoryInput__label {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  width: 800px;
}

.factoryInput__label > span {
  background-color: white;
  border: 2px solid var(--mint);
  width: fit-content;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.factoryInput__label span {
  display: block;
}

.factriInput__label span i {
  margin-right: 12px;
}

.factoryInput__addfile input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.factoryForm__attachment {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
}

.factoryForm__attachment img {
  max-width: 100%;
  height: auto;
}

.factoryForm__clear {
  margin-left: 10px;
  cursor: pointer;
}

.factoryForm__clear:hover {
  color: var(--mint);
}

.nweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.nweet__contents {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: sandybrown;
  /* border-bottom: 2px solid sandybrown; */
  margin: 10px 0;
}

.nweet__contents h3 {
  font-weight: 600;
}

.nweet__contents-texts {
  padding: 15px 15px;
}

.nweet__actions {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding: 10px 0;
}

.nweetImg {
  max-width: 60%;
}
