.factoryForm__main {
  display: flex;
  width: inherit;
  justify-content: center;
}

.homeDiv {
  background-color: var(--mint);
  margin-top: 10px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.factoryForm {
  display: flex;
  width: inherit;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 5px;
  border-bottom: 2px solid var(--mint);
  padding-bottom: 15px;
}

.filter {
  display: flex;
  width: inherit;
  margin-top: 5px;
}

.filter span {
  padding: 10px;
  background-color: beige;
  margin: 0 5px;
  cursor: pointer;
  font-size: 15px;
  color: rgba(112, 112, 112);
  font-weight: normal;
}

.filter span:hover {
  opacity: 0.7;
}

.nweetEdit {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 8px;
}

.formInput {
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
  opacity: 0.8;
  font-family: var(--font-basic);
}

.nweetEdit span {
  display: flex;
  justify-content: flex-end;
}

.nweetEdit input[type="submit"] {
  width: fit-content;
  margin: 0 5px 5px 0;
  padding: 5px;
  background-color: var(--light-mint);
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.nweet {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.factoryInput__label > span,
.factoryForm input {
  border-radius: 5px;
}

.factoryInput__container {
  margin: 10px 0;
  margin-bottom: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.factoryInput__input {
  display: block;
  margin-top: 3px;
  padding: 10px 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.698);
  font-size: 15px;
  justify-content: center;
  resize: none;
  font-family: var(--font-basic);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.027);
  border-radius: 5px;
  border-bottom-right-radius: 0;
}

.factoryInput__input:focus {
  outline: none;
  border: 2px solid var(--mint);
}

.factoryInput__input::placeholder {
  color: rgba(0, 0, 0, 0.541);
  font-weight: 500;
}

.factoryInput__countText {
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

.factoryInput__icons {
  display: flex;
  justify-content: flex-end;
}

.factoryInput__arrow {
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--mint);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.factoryInput__arrow:hover {
  opacity: 0.7;
}

.nweetEdit input[type="submit"]:hover,
.cancelBtn:hover,
.nweet__actions span:hover,
.factoryInput__label > span:hover,
.factoryInput__arrow:hover {
  opacity: 0.6;
}

.factoryInput__arrow > input {
  border: none;
  background-color: inherit;
}

.factoryInput__addfile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.factoryInput__label {
  display: flex;
  justify-content: flex-end;
  width: 800px;
}

.factoryInput__label > span {
  background-color: rgba(0, 0, 0, 0.027);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: normal;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.factoryInput__addfile input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.factoryForm__attachment {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
}

.factoryForm__attachment img {
  max-width: 100%;
  height: auto;
}

.factoryForm__clear {
  margin-left: 10px;
  cursor: pointer;
}

.factoryForm__clear:hover {
  color: var(--mint);
}

@keyframes nweetContents {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
  }
}

.nweet__writer {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nweet__writer img {
  border-radius: 5px;
  margin-right: 5px;
  background-color: var(--mint);
  border: 2px solid var(--mint);
}

.nweet__writer h3 {
  background-color: var(--pink);
  padding: 5px;
  border-radius: 5px;
}

.nweet__contents {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 5px solid var(--pink);
  margin: 10px 0;
  opacity: 0;
  animation: nweetContents 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.nweet__contents h3 {
  font-weight: bold;

  width: fit-content;
  height: fit-content;
}

.nweet__contents-texts {
  padding: 15px 15px;
  font-weight: normal;
}

.nweet__actions {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.nweet__contents-img {
  display: flex;
  margin-left: 20px;
}

.nweetImg {
  max-width: 60%;
}

.nweet__contents-createDate {
  display: flex;
  justify-content: flex-end;
  opacity: 0.2;
  font-size: 12px;
}

.nweet__icons {
  display: flex;
  margin: 0 5px;
  margin-top: 10px;
  border-top: 1px solid var(--mint);
  padding: 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nweet__icon-comments,
.nweet__likes {
  background-color: var(--mint);
  margin-top: 10px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 8px;
  transition: all 0.3s ease-in-out;
}

.nweet__likesCount {
  transition: all 0.3s ease-in-out;
}

.nweet__likes:hover .nweet__likesCount {
  color: var(--pink);
}

.nweet__icon-comments:hover,
.nweet__icon-comments:active {
  color: var(--pink);
}

.nweet__commetnsCount,
.nweet__likesCount {
  margin-left: 5px;
  color: white;
}

.nweet__actions span {
  display: flex;
  width: fit-content;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.cancelBtn {
  margin: 3px;
  cursor: pointer;
  width: fit-content;
}

/* nweet comments */
.nweet__comments {
  padding: 10px;
  background-color: var(--pink);
  border-radius: 5px;
}

.nweet__comments-title {
  display: block;
  padding: 4px 8px;
  margin-bottom: 5px;
  background-color: var(--mint);
  width: fit-content;
  border-radius: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.698);
}

.comment__write {
  padding: 4px 5px;
  display: flex;
  margin-bottom: 10px;
}

.comment__write input {
  padding: 5px 10px;
  font-weight: normal;
}

.comment__write input[type="text"] {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-family: var(--font-basic);
  transition: all 0.3s ease-in-out;
}

.comment__write input[type="text"]::placeholder {
  opacity: 0.7;
}

.comment__write input[type="text"]:focus {
  border: 2px solid var(--mint);
}

.comment__write input[type="submit"] {
  border-left: 2px solid var(--mint);
  cursor: pointer;
  background-color: var(--mint);
  color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment__write input[type="submit"]:hover {
  background-color: var(--light-mint);
}
