.container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  width: 80%;
  padding: 0 10px;
  height: 100%;
}

.factoryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 50px;
  background-color: aliceblue;
  border: 1px solid #000;
  width: 100%;
}

.homeDiv {
  background-color: beige;
}

.factoryForm input {
  border-radius: 5px;
}

.factoryInput__container {
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.factoryInput__input {
  display: block;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.698);
  font-size: 15px;
  border: none;
  outline: none;
  width: 600px;
  justify-content: center;
  resize: none;
  transition: 0.3s ease-in-out;
}

.factoryInput__input::placeholder {
  color: rgba(0, 0, 0, 0.698);
}

.factoryInput__input:active,
.factoryInput__input:focus {
  outline: 2px solid var(--mint);
}

.factoryInput__arrow {
  padding: 10px 10px;
  background-color: var(--mint);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.factoryInput__arrow:hover {
  background-color: var(--light-mint);
}

.factoryInput__addfile {
  display: flex;
  padding: 5px 0;
  margin: 10px 0;
  width: 100%;
}

.factoryInput__label {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  width: 800px;
}

.factoryInput__label span {
  display: block;
}

.factriInput__label span i {
  margin-right: 12px;
}

.factoryInput__addfile input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.factoryForm__attachment {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
}

.factoryForm__attachment img {
  max-width: 100%;
  height: auto;
}

.factoryForm__clear {
  margin-left: 10px;
  cursor: pointer;
}

.factoryForm__clear:hover {
  color: var(--mint);
}

.nweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nweet__contents {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-bottom: 2px solid sandybrown;
  margin: 10px 0;
}

.nweet__contents h4 {
  padding: 15px 0;
}

.nweet__actions {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding: 10px 0;
}

.nweetImg {
  max-width: 60%;
}
