.navUl {
  background-color: pink;
  padding: 5px 5px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 2px solid var(--light-black);
  width: 100px;
  box-sizing: border-box;
}

.navUl li {
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
}

.navUl a {
  color: var(--mint);
}

.navHome {
  transition: 0.3s ease-in-out;
}

.navHome:hover {
  color: var(--light-mint);
}

.navProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.navProfile:hover {
  color: var(--light-mint);
}

.navProfile span {
  padding: 5px 0;
  font-size: 12px;
}
