.navUl {
  padding: 5px 5px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 2px solid var(--light-black);
  box-sizing: border-box;
}

.navUl li {
  margin: 20px 0;
  padding: 5px 0;
  text-align: center;
}

.navUl a {
  display: flex;
  flex-direction: column;
  color: var(--mint);
  cursor: pointer;
}

.navUl li > a {
  transition: all 0.3s ease-in-out;
}

.navProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.navProfile span {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.navUl a:hover {
  color: var(--light-mint);
}
